<% if @results.length !=0 %>
<% @results.each do |result| %>
<td>
  <br>
  <li>
    ID:<%= result.user_id %>
    <%= result.user.family_name %>
    <%= result.user.given_name %>
    <%= result.user.family_name_kana %>
    <%= result.user.given_name_kana %>
    <%= result.sex.name %>
    <%= result.age_group.name %>
    <%= result.blood_type.name %>
    <%= result.birth_day %>
    <%= result.zodiac_sign.name %>
    <%= result.address.name %>
    <%= result.occupation.name %>
    <%= result.work_place %>
    <br>
    自己紹介：<%= result.summary %>
  </li>
  <% @rooms = @rooms.where(user_id: result.user_id) %>
  <% @rooms.each do |room| %>
  <div>
    <button type="button" class="btn btn-outline-light"><%= link_to room.name, room_messages_path(room) %></button>
    <% if room.status == 0 %>
    <span class="badge badge-pill badge-danger">新規</span>
    <% elsif room.status == 1 %>
    <span class="badge badge-pill badge-warning">相談中</span>
    <% elsif room.status == 2 %>
    <span class="badge badge-pill badge-success">解決済</span>
    <% end %>
  </div>
  <% end %>
  <% end %>

  <% else %>
  <br>
  該当者がいません
  <% end %>
  <br>