<%= render "shared/header" %>

<div class="shared_page d-flex">

  <div class="shared_page_L">
    <%= render "shared/cards/home" %>
  </div>

  <div class="mentors_list">
    <div class="d-flex">
      <% @profiles.each do |profile| %>
      <% if profile.user.mentor == 2 %>
      <div class="card mentors_list_card m-1">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= profile.user.family_name %> <%= profile.user.given_name %> (<%= profile.user.family_name_kana %> <%= profile.user.given_name_kana %>)</li>
          <li class="list-group-item"><%= profile.sex.name %>　<%= profile.age_group.name %>　<%= profile.blood_type.name %>　<%= profile.zodiac_sign.name %></li>
          <li class="list-group-item">住んでいる地域：<%= profile.address.name %></li>
          <li class="list-group-item">職業：<%= profile.occupation.name %>(<%= profile.work_place %>)</li>
        </ul>
        <div class="card-body">
          <h5 class="card-title">メッセージ</h5>
          <p class="card-text"><%= profile.summary %></p>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>

</div>

<%= render "shared/footer" %>
