<%= render "shared/header" %>

<div class="shared_body overflow-auto">
  <div class="row">
    <% @profiles.each do |profile| %>
    <% if profile.user.mentor == 1 %>
    <div class="card col-6" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">氏名：<%= profile.family_name %><%= profile.given_name %></li>
        <li class="list-group-item">フリガナ：<%= profile.family_name_kana %><%= profile.given_name_kana %></li>
        <li class="list-group-item">性別：<%= profile.sex.name %></li>
        <li class="list-group-item">年齢：<%= profile.age_group.name %></li>
        <li class="list-group-item">血液型：<%= profile.blood_type.name %></li>
        <li class="list-group-item">生年月日：<%= profile.birth_day %></li>
        <li class="list-group-item">星座：<%= profile.zodiac_sign.name %></li>
        <li class="list-group-item">住んでいる地域：<%= profile.address.name %></li>
        <li class="list-group-item">職業：<%= profile.occupation.name %></li>
        <li class="list-group-item">勤務先：<%= profile.work_place %></li>
      </ul>
      <div class="card-body">
        <h5 class="card-title">メンターから一言</h5>
        <p class="card-text"><%= profile.summary %></p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>