<div class="shared_header row">
  <div class="h4 p-2 text-white col-11">
    <i class="fas fa-hat-wizard fa-1x"></i>
    <b>ログイン情報編集</b>
  </div>
  <div class="col-1 row">
    <%#水晶アイコン%>
    <div class="crystal" , id="modal_gear">
      🔮
    </div>
    <div class="modal_window_gear" , id="modal_window_gear">
      <div class="modal_window_box">
        <button type="button"
          class="btn modal_window_gear_btn"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></button>
        <button type="button" class="btn modal_window_gear_btn"><%= link_to "アプリの説明書", rooms_path %></button>
        <button type="button"
          class="btn modal_window_gear_btn"><%= link_to "🔒管理人室", mentor_approval_mentors_path %></button>
        <button type="button" class="btn modal_window_gear_btn"><%= link_to "ホームに戻る", root_path %></button>
      </div>
    </div>
    <%#水晶アイコン%>
  </div>
</div>

<div class="shared_page d-flex">

  <div class="shared_page_L">
    <%= render "shared/cards/home" %>
  </div>

  <div class="shared_page_R overflow-auto">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      メールアドレス<br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <br>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      新しいパスワード <i>(変更しない場合は空欄で結構です。)</i><br>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
      <br><em>※ <%= @minimum_password_length %> 文字以上でお願いします。</em>
      <% end %>
    </div>
    <br>
    <div class="field">
      <i>(確認のため同じパスワードを入力してください。)</i><br>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <br>
    <div class="field">
      現在のパスワード<br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "更新する" %>
    </div>
    <% end %>

  </div>
</div>