<div class="shared_footer">
  <div class="container">
    <div class="footer_contents row">

      <% if current_user.mentor == 0 %>

      <%#ホーム画面%>
      <div class="footer_btn col-4">
        <%= link_to home_rooms_path do %>
        <span class="fa-stack fa-lg">
          <i class="fas fa-home fa-stack-1x"></i>
          <i class="far fa-circle fa-stack-2x text-primary"></i>
        </span>
        <% end %>
      </div>

      <%#チャットルーム%>
      <div class="footer_btn col-4">
        <%= link_to list_up_rooms_path do %>
        <span class="fa-stack fa-lg">
          <i class="far fa-comments fa-stack-1x"></i>
          <i class="far fa-circle fa-stack-2x text-primary"></i>
        </span>
        <% end %>
      </div>

      <%#お役立ち情報%>
      <div class="footer_btn col-4">
        <%= link_to rooms_path do %>
        <span class="fa-stack fa-lg">
          <i class="fas fa-book fa-stack-1x"></i>
          <i class="far fa-circle fa-stack-2x text-primary"></i>
        </span>
        <% end %>
      </div>

      <% end %>

      <%#メンターのみ使える機能%>
      <% if current_user.mentor == 1%>

      <%#ホーム画面%>
      <div class="footer_btn col-2">
        <%= link_to home_rooms_path do %>
        <span class="fa-stack fa-lg">
          <i class="fas fa-home fa-stack-1x"></i>
          <i class="far fa-circle fa-stack-2x text-primary"></i>
        </span>
        <% end %>
      </div>

      <%#チャットルーム%>
      <div class="footer_btn col-2">
        <%= link_to list_up_rooms_path do %>
        <span class="fa-stack fa-lg">
          <i class="far fa-comments fa-stack-1x"></i>
          <i class="far fa-circle fa-stack-2x text-primary"></i>
        </span>
        <% end %>
      </div>

      <%#お役立ち情報%>
      <div class="footer_btn col-2">
        <%= link_to rooms_path do %>
        <span class="fa-stack fa-lg">
          <i class="fas fa-book fa-stack-1x"></i>
          <i class="far fa-circle fa-stack-2x text-primary"></i>
        </span>
        <% end %>
      </div>

      <%#新規ルーム発見%>
      <div class="footer_btn col-2">
        <%= link_to new_rooms_mentors_path do %>
        <span class="fa-stack fa-lg">
          <i class="far fa-lightbulb fa-stack-1x"></i>
          <i class="far fa-circle fa-stack-2x text-primary"></i>
        </span>
        <% end %>
      </div>

      <%#検索%>
      <div class="footer_btn col-2">
        <%= link_to list_up_profiles_path do %>
        <span class="fa-stack fa-lg">
          <i class="fas fa-search fa-stack-1x"></i>
          <i class="far fa-circle fa-stack-2x text-primary"></i>
        </span>
        <% end %>
      </div>

      <% end %>

    </div>
  </div>
</div>