<div class="shared_header row">
  <div class="h4 p-2 text-white col-11">
    <i class="fas fa-hat-wizard fa-1x"></i>
    <b><%= @header_title %></b>
  </div>

  <div class="col-1 row">
    <%#æ­¯è»Šã‚¢ã‚¤ã‚³ãƒ³%>
    <div class="crystal" , id="modal_gear">
      ðŸ”®
    </div>
    <div class="modal_window_gear" , id="modal_window_gear">
      <div class="modal_window_box">
        <button type="button"
          class="btn modal_window_gear_btn"><%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete %></button>
        <button type="button" class="btn modal_window_gear_btn"><%= link_to "ã‚¢ãƒ—ãƒªã®èª¬æ˜Žæ›¸", rooms_path %></button>
        <button type="button"
          class="btn modal_window_gear_btn"><%= link_to "ðŸ”’ç®¡ç†äººå®¤", mentor_approval_mentors_path %></button>
        <button type="button" class="btn modal_window_gear_btn"><%= link_to "ãƒ›ãƒ¼ãƒ ã«æˆ»ã‚‹", root_path %></button>
        <%#ãƒ†ã‚¹ãƒˆæ©Ÿèƒ½%>
        <button type="button" class="btn modal_window_gear_btn"><%= link_to "åˆæœŸåŒ–", mentors_path %></button>
        <%#ãƒ†ã‚¹ãƒˆæ©Ÿèƒ½%>
      </div>
    </div>
    <%#æ­¯è»Šã‚¢ã‚¤ã‚³ãƒ³%>
  </div>
</div>