<%= render "shared/header" %>

<div class="shared_page d-flex">

  <div class="shared_page_L">
    <%= render "shared/cards/home" %>
    <%= render "shared/cards/library" %>
  </div>

  <div class="shared_page_R">
  <%= render "library/content_3" %>
  </div>

</div>

<%= render "shared/footer" %>
