<%= render "shared/header" %>

<div class="shared_page d-flex">

  <div class="shared_page_L">
    <%= render "shared/cards/home" %>
  </div>

  <div class="shared_page_R row">
  <%= render "library/books/book_1" %>
  <%= render "library/books/book_2" %>
  <%= render "library/books/book_3" %>
  <%= render "library/books/book_4" %>
  </div>

</div>

<%= render "shared/footer" %>
