<%= render "shared/header" %>

<div class="shared_page d-flex">

  <div class="shared_page_L">
    <%= render "shared/cards/home" %>
    <%= render "shared/cards/search" %>
    <%= render "shared/cards/all.profiles" %>
  </div>

  <div class="search_unit">
    <div class="search_unit_form">
      <%= render "profiles/search_form" %>
    </div>

    <div class="search_unit_result">
      <% @super_rooms.each do |room| %>
      <div>
        <button type="button"
          class="btn btn-outline-primary"><%= link_to room.name, room_messages_path(room) %></button>
        <% if room.status == 0 %>
        <span class="badge badge-pill badge-danger">新規</span>
        <% elsif room.status == 1 %>
        <span class="badge badge-pill badge-warning">相談中</span>
        <% elsif room.status == 2 %>
        <span class="badge badge-pill badge-success">解決済</span>
        <% end %>
        <%= room.user_family_name %><%= room.user_given_name %>
        (ユーザーID：<%= room.user_id %>)
      </div>
      <% end %>
    </div>

  </div>
</div>

<%= render "shared/footer" %>