<%= render "shared/header" %>

<div class="shared_page d-flex">

  <div class="shared_page_L">
    <%= render "shared/cards/home" %>
    <%= render "shared/cards/search" %>
    <%= render "shared/cards/all.rooms" %>
  </div>

  <div class="search_unit">
    <div class="search_unit_form">
      <%= render "profiles/search_form" %>
    </div>

    <div class="search_unit_result">
      <% @profiles.each do |profile| %>
      <td>
        <br>
        <li>
          ID:<%= profile.user_id %>
          <%= profile.user.family_name %>
          <%= profile.user.given_name %>
          <%= profile.user.family_name_kana %>
          <%= profile.user.given_name_kana %>
          <%= profile.sex.name %>
          <%= profile.age_group.name %>
          <%= profile.blood_type.name %>
          <%= profile.birth_day %>
          <%= profile.zodiac_sign.name %>
          <%= profile.address.name %>
          <%= profile.occupation.name %>
          <%= profile.work_place %>
          <br>
          自己紹介：<%= profile.summary %>
        </li>
        <% end %>
    </div>
  </div>

</div>

<%= render "shared/footer" %>
