<%= render "shared/header" %>
<div class="shared_page d-flex">

  <div class="shared_page_L">
    <%= render "shared/cards/home" %>
  </div>

  <div class="mentor_approval d-flex">
    <% @users.each do |user| %>
    <div class="card mentor_approval_card">
      <div class="card-body">
        <h5 class="card-title"><%= user.family_name %><%= user.given_name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= user.email %></h6>

        <% if user.mentor == 1 %>
        ユーザー
        <% elsif user.mentor == 2 %>
        メンター
        <% end %>

        <%#切り替えボタン%>
        <%= link_to mentor_user_mentors_path(user.id) do %>
        <span class="fa-stack fa-lg">
          <i class="fas fa-sync-alt fa-stack-1x"></i>
          <i class="far fa-circle fa-stack-2x text-primary"></i>
        </span>
        <% end %>
        <%#切り替えボタン%>
      </div>
    </div>
    <% end %>
  </div>

</div>

<%= render "shared/footer" %>
