<%= render "shared/header" %>

<div class="shared_page d-flex">

  <div class="shared_page_L">
    <%= render "shared/cards/home" %>
    <%= render "shared/cards/search" %>
    <%= render "shared/cards/all.rooms" %>
  </div>

  <div class="search_unit">
    <div class="search_unit_form">
      <%= render "mentors/name_search" %>
      <%= render "profiles/search_form" %>
    </div>

    <div class="search_unit_result">
      <%= render "mentors/name_search_result" %>
    </div>
  </div>

</div>

<%= render "shared/footer" %>
