<%=form_with model: @room, local: true do |f|%><form>
  <%= render 'shared/error_messages', model: f.object %>
  <div>
    <%= f.label :ルーム名 %>
  </div>
  <div>
    <%= f.text_field :name, class:"form-control", placeholder: 'ルーム名を入力してください'%>
  </div>
  <div>
    <%= f.label :相談内容 %>
  </div>
  <div>
    <%= f.text_area :content, class:"form-control", placeholder: '相談内容を入力してください'%>
  </div>
  <input name="room[user_ids][]" type="hidden" value=<%=current_user.id%>>
  <button class="btn btn-primary" type="submit">作成</button>
  
<% end %>
<button type="button" class="btn btn-outline-info"><%= link_to "戻る", root_path %></button>