<%= render "shared/header" %>

<div class="shared_page d-flex">

  <div class="shared_page_L">
    <% if current_user.mentor == 0%>
    <%= render "shared/cards/home" %>
    <% elsif current_user.mentor != 0%>
    <%= render "shared/cards/home" %>
    <% end %>
  </div>

  <div class="shared_page_R">
    <%= render "navi" %>
  </div>

</div>

<%= render "shared/footer" %>
