<div class="loginPage">
  <div class="container">
    <div class="loginPage_contents">
      <h1 class="h3 loginPage_contents_title">原因から課題を解決しよう！</h1>
      <%= link_to "ログイン", "#", class: "btn loginPage_contents_main_btn", id:"modal_open"%>
      <div class="modal_window" , id="modal_window">
        <div class="modal_body">
          <h4>
            ログイン方法を選んでください
          </h4>
          <%= link_to "メールアドレスでログイン", new_user_session_path, class: "btn loginPage_contents_btn", id:"email_login"%>
          <%= link_to "Googleでログイン(未実装)", new_user_session_path, class: "btn loginPage_contents_btn", id:"google_login"%>
          <%= link_to "Facebookでログイン(未実装)", new_user_session_path, class: "btn loginPage_contents_btn", id:"facebook_login"%>
          <%= link_to "Twitterでログイン(未実装)", new_user_session_path, class: "btn loginPage_contents_btn", id:"twitter_login"%>
          <%= link_to "トップページに戻る", root_path, class: "btn loginPage_contents_btn", id:"back_top_page"%>
        </div>
      </div>
    </div>
  </div>
</div>